<div class="container center-box">
    <div class="center-box-content">
        Vehicle Signup
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="vehicle_type">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="vehicle_registration_number">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="vehicle_model_year">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="insurance_info">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="owner_name">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="owner_email">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="owner_phone">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="password">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="confirm_password">
            </div>
        </div>
    </div>
</div>  