<div class="top-section">
    <app-top-widgets></app-top-widgets>
</div>
<div class="middle-section">
    <div class="widget left">
        <app-box-plot-chart></app-box-plot-chart>
    </div>
    <div class="widget right">
        <app-bubble-chart></app-bubble-chart>
    </div>
</div>
<div class="bottom-section">
    <div class="widget left">
        <app-chord-chart></app-chord-chart>
    </div>
    <div class="widget right">
        <app-scatter-plot-chart></app-scatter-plot-chart>
    </div>
</div>