<div class="container center-box">
    <div class="center-box-content">
        Customer Signup
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="full_name">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="email">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="phone">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="address">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="password">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="confirm_password">
            </div>
        </div>
    </div>
</div>  