<div class="container center-box">
    <div class="center-box-content">
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="first_name">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="last_name">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="hat_color">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="shoe_color">
            </div>
        </div>
    </div>
</div>  
