<div class="container center-box">
    <div class="center-box-content">
        Driver Signup
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="full_name">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="email">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="phone">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="address">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="driving_license_number">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="vehicle_type">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="vehicle_registration_number">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="vehicle_model_year">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="insurance_info">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="experience">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="emergency_contact_info">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="password">
            </div>
        </div>
        <div class="row signup-form-input">
            <div class="col-xs-2">
                <input type="text" [(ngModel)]="confirm_password">
            </div>
        </div>
    </div>
</div>  